@if (!showOnlyTable) {
  <main class="flex flex-col items-center justify-center gap-y-12 m-[5%]">
    <h2 class="font-bold text-4xl">Gerenciar Ações</h2>
    <app-add-stock></app-add-stock>
    <app-table-stock></app-table-stock>
    <!-- <app-add-csv></app-add-csv> -->
    <img class="cursor-pointer hover:opacity-75" (click)="changeShowOnlyTableStatus()" src="https://img.icons8.com/pulsar-gradient/48/long-arrow-right.png" alt="switch-off" alt="switch-on--v1" alt="off">
  </main>
} @else {
  <main class="flex flex-col gap-y-8 items-center justify-center m-4">
    <app-table-stock></app-table-stock>
    <img class="cursor-pointer hover:opacity-75" (click)="changeShowOnlyTableStatus()" src="https://img.icons8.com/pulsar-gradient/48/long-arrow-left.png" alt="switch-on--v1" alt="on">
  </main>
}
