<section class="p-8 flex gap-x-8 items-center rounded-4xl shadow-xl text-[#444]">

  <div class="flex flex-col gap-y-2">
    <p class="text-2xl">Nome da ação</p>
    <input 
      [value]="nome"
      (input)="nome = $any($event.target).value"
      class="border-1 rounded-lg px-1 text-gray-400 border-gray-300" 
      type="text"
      placeholder="Digite o nome da ação"
    >
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="text-2xl">Valor</p>
    <input
      [value]="valorCompra"
      (input)="valorCompra = $any($event.target).value"
      class="border-1 rounded-lg px-1 text-gray-400 border-gray-300"
      type="number"
      placeholder="0"
    >
  </div>

  <div class="flex flex-col gap-y-2">
    <p class="text-2xl">Quantidade Comprada</p>
    <input
      [value]="quantidade"
      (input)="quantidade = + $any($event.target).value"
      class="border-1 rounded-lg px-1 text-gray-400 border-gray-300"
      type="number"
      placeholder="0"
    >
  </div>

  <button (click)="addStock()" class="bg-[#2e72ca] text-white p-4 rounded-lg cursor-pointer hover:opacity-80 active:opacity-60">Adicionar</button>

</section>